body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  canvas {
    border: 1px solid #000;
    position: absolute;
  }

  #buttons-1{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 65px;
    margin-bottom: -20px;
  }

  #buttons-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 65px;
    margin-bottom: -20px;
  }

  button{
    font-size: 20px;
    margin-bottom: 25px;
    padding: 10px 5px;
    width: 224px;
  }
  